.loader {
    border: 0.21rem solid #11009E;
    border-radius: 50%;
    border-top: 0.21rem solid #f8fafc;
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}