@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  @apply text-slate-50 bg-[#8696FE];
  /* @apply text-slate-50 bg-green-700; */
}

button {
  -webkit-tap-highlight-color: transparent;
}

input, select, option {
  @apply text-black;
  @apply p-2 outline-none focus:outline-[#0A6EBD] focus:outline focus:outline-2 outline-offset-0
  
}

@media (prefers-color-scheme: dark) {
  
}